{% extends "layout.html" %}
{% block body %}

  <div class="container intro">

    <h1>Add a new API</h1>

    <form method="post">
      <div>
        <label for="swagger-url">Swagger URL:</label>
        <input id="swagger-url" type="source" name="source" />
      </div>

      <div>
        <label for="app-name-input">API Name:</label>
        <input id="app-name-input" type="text" name="app-name" />
      </div>

      <input type="submit" value="Create API Doc" />
    </form>

    {# TODO:  Add embeded preview ? #}
  </div>

{% endblock %}
